.venv/
.DS_Store
.vscode/

Thesis/ver5/
Thesis/**/*.aux
Thesis/**/*.bbl
Thesis/**/*.blg
Thesis/**/*.dvi
Thesis/**/*.log
Thesis/**/*.out
Thesis/**/*.synctex.gz
Thesis/**/*.toc
Thesis/**/*.fdb_latexmk
Thesis/**/*.fls
Thesis/**/*.run.xml
Thesis/**/*.synctex
Thesis/**/*.nav
Thesis/**/*.snm
Thesis/**/*.vrb

Thesis/old/
Thesis/ver6/*

Thesis/ver7/images

references/

presentation/*.aux
presentation/*.bbl
presentation/*.blg
presentation/*.dvi
presentation/*.log
presentation/*.out
presentation/*.synctex.gz
presentation/*.toc
presentation/*.fdb_latexmk
presentation/*.fls
presentation/*.run.xml
presentation/*.synctex
presentation/*.nav
presentation/*.snm

code/.ipynb_checkpoints/